Repository SOEN-341-Team-Zero/Team_Zero-SOEN341_Project_W25, pull requests merged in 2025-03, with the labels that each got.

#154 Refactor frontend #153
  app/backend/Controllers/AddController.cs
  app/backend/Controllers/CreateController.cs
  app/frontend/src/components/Buttons/CreateChannelButton.tsx
  app/frontend/src/components/Buttons/CreateDMButton.tsx
  app/frontend/src/components/Buttons/CreateTeamButton.tsx
  app/frontend/src/components/Buttons/DeleteChannelMessagesButton.tsx
  app/frontend/src/components/Buttons/InviteToChannelButton.tsx
  app/frontend/src/components/Buttons/InviteToTeamButton.tsx
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatArea.tsx
  app/frontend/src/components/Chat/ChatAreaDMHeader.tsx
  app/frontend/src/components/Chat/ChatMessage.tsx
  app/frontend/src/components/Chat/ChatTeamsChannelHeader.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
  app/frontend/src/components/Forms/LoginForm.tsx
  app/frontend/src/components/Forms/RegisterForm.tsx
  app/frontend/src/components/InviteToChannelButton.tsx
  app/frontend/src/components/InviteToTeamButton.tsx
  app/frontend/src/components/Sidebar/ChannelListItem.tsx
  app/frontend/src/components/Sidebar/ChatListItem.tsx
  app/frontend/src/components/Sidebar/SideBar.tsx
  app/frontend/src/components/Sidebar/SideBarSecondaryPanel.tsx
  app/frontend/src/components/UserSearch/UserSearch.tsx
  app/frontend/src/pages/HomePage.tsx
  app/frontend/src/pages/LoginPage.tsx
  app/frontend/src/pages/RegisterPage.tsx
  app/frontend/src/services/ChannelChatService.ts
  app/frontend/src/services/DMChatService.ts
Labels: frontend, backend

#155 Added user lists to teams and channels to be able to view users, search for them, message them, and remove them
  app/backend/Controllers/AddController.cs
  app/backend/Controllers/AddToChannelRequest.cs
  app/backend/Controllers/AddToTeamRequest.cs
  app/frontend/src/components/Buttons/InviteToChannelButton.tsx
  app/frontend/src/components/Buttons/InviteToTeamButton.tsx
  app/frontend/src/components/ChannelUserListHover.tsx
  app/frontend/src/components/Chat/ChatArea.tsx
  app/frontend/src/components/Chat/ChatTeamsChannelHeader.tsx
  app/frontend/src/components/Sidebar/SideBar.tsx
  app/frontend/src/components/Sidebar/SideBarSecondaryPanel.tsx
  app/frontend/src/components/TeamUserListHover.tsx
  app/frontend/src/components/UserList.tsx
  app/frontend/src/components/UserListItem.tsx
  app/frontend/src/components/UserSearch/UserSearch.tsx
Labels: frontend, backend, design

#161 Setup CI for both frontend and backend
  .github/workflows/ci.yml
  app/backend/ChatHaven.csproj
  app/backend/Data/ApplicationDbContext.cs
  app/backend/Program.cs
  app/backend/tests/LoginControllerTests.cs
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/tests/Button.test.tsx
  app/frontend/vite.config.ts
Labels: pipeline

#184 Fix bug causing page to crash after a few renders
  app/frontend/src/pages/HomePage.tsx
Labels: bug, frontend

#183 Private Channels Backend
  app/backend/Controllers/ChannelCreationRequest.cs
  app/backend/Controllers/ChatController.cs
  app/backend/Controllers/CreateController.cs
  app/backend/Controllers/HomeController.cs
  app/backend/Models/ChannelModel.cs
Labels: frontend, backend

#185 Landing page
  app/frontend/src/App.tsx
  app/frontend/src/pages/LandingPage.tsx
  app/frontend/src/pages/LoginPage.tsx
  app/frontend/src/pages/RegisterPage.tsx
Labels: good first issue, frontend, design

#213 Fix for the Bug that Allowed Users to Send Messages to a Channel without Being a Member
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
Labels: bug

#217 Message Reactions
  app/backend/ChatHub.cs
  app/backend/Controllers/ChatController.cs
  app/backend/Controllers/HomeController.cs
  app/backend/Models/ChannelMessage.cs
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatMessage.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
  app/frontend/src/components/Chat/ReactionButton.tsx
  app/frontend/src/models/models.ts
  app/frontend/src/pages/HomePage.tsx
  app/frontend/src/pages/LandingPage.tsx
  app/frontend/src/services/ChannelChatService.ts
  app/frontend/tests/ChatMessage.test.tsx
Labels: frontend, backend, database

#225 Private channel invites #218
  app/backend/Controllers/AddController.cs
  app/backend/Controllers/RequestController.cs
  app/backend/DTOs/MassInviteCreationRequest.cs
  app/backend/Models/RequestModel.cs
  app/frontend/src/components/Buttons/InviteToChannelButton.tsx
  app/frontend/src/components/ChannelUserListHover.tsx
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/RequestCreationPrompt.tsx
  app/frontend/src/components/Dashboard/DashboardRequestsTabContent.tsx
  app/frontend/src/components/Requests/RequestsList.tsx
  app/frontend/src/components/Requests/RequestsListItem.tsx
  app/frontend/src/components/Sidebar/ChannelListItem.tsx
  app/frontend/src/components/TeamUserListHover.tsx
  app/frontend/src/components/UserList.tsx
  app/frontend/src/components/UserListItem.tsx
  app/frontend/src/models/models.ts
  app/frontend/tests/InviteToChannelButton.test.tsx
Labels: frontend, backend, database

#226 Audio Messaging Frontend
  app/backend/Controllers/HomeController.cs
  app/backend/Controllers/RequestController.cs
  app/frontend/src/components/Buttons/DeleteChannelMessagesButton.tsx
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatMessage.tsx
  app/frontend/src/models/models.ts
  app/frontend/src/pages/HomePage.tsx
  app/frontend/src/pages/LandingPage.tsx
  app/frontend/src/services/ChannelChatService.ts
  app/frontend/src/styles/ChatArea.css
  app/frontend/tests/ChannelChatComponent.test.tsx
  app/frontend/tests/ChatMessage.test.tsx
Labels: frontend

#227 Fixed Home State Issue After Logout
  app/backend/Controllers/HomeController.cs
  app/frontend/src/components/Sidebar/DashboardSidebarContent.tsx
  app/frontend/src/components/Sidebar/SideBar.tsx
  app/frontend/src/pages/HomePage.tsx
  app/frontend/src/pages/LandingPage.tsx
Labels: frontend

#229 Mobile view rework #220
  app/backend/Controllers/RequestController.cs
  app/frontend/src/App.tsx
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatArea.tsx
  app/frontend/src/components/Chat/ChatAreaDMHeader.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
  app/frontend/src/components/Dashboard/DashboardRequestsTabContent.tsx
  app/frontend/src/components/MobileToolbar.tsx
  app/frontend/src/components/Requests/RequestsList.tsx
  app/frontend/src/components/Requests/RequestsListItem.tsx
  app/frontend/src/components/Sidebar/ChatListItem.tsx
  app/frontend/src/components/Sidebar/SideBar.tsx
  app/frontend/src/components/Sidebar/TeamSidebarContent.tsx
  app/frontend/src/components/UserListItem.tsx
  app/frontend/src/pages/HomePage.tsx
  app/frontend/src/pages/LandingPage.tsx
  app/frontend/src/styles/SideBar.css
  app/frontend/src/utils/BrowserUtils.ts
  app/frontend/src/utils/TooltipUtils.ts
  app/frontend/tests/Sidebar.test.tsx
Labels: frontend
