Repository SOEN-341-Team-Zero/Team_Zero-SOEN341_Project_W25, pull requests merged in 2025-04, with the labels that each got.

#233 Environment Variables
  app/backend/ChatHaven.csproj
  app/backend/Controllers/LoginController.cs
  app/backend/Program.cs
  app/backend/appsettings.json
Labels: backend, database, environment, dependencies

#234 Status stories #230
  .gitignore
  app/backend/Controllers/StoryController.cs
  app/backend/DTOs/StoryCreationRequest.cs
  app/backend/Data/ApplicationDbContext.cs
  app/backend/Models/StoryModel.cs
  app/backend/Program.cs
  app/frontend/src/components/Badges/CreateBadge.tsx
  app/frontend/src/components/Buttons/CreateChannelButton.tsx
  app/frontend/src/components/Chat/ChatArea.tsx
  app/frontend/src/components/Dashboard/Dashboard.tsx
  app/frontend/src/components/Dashboard/DashboardHeader.tsx
  app/frontend/src/components/Dashboard/DashboardRequestsTabContent.tsx
  app/frontend/src/components/Sidebar/DashboardSidebarContent.tsx
  app/frontend/src/components/StatusStories/CarouselItem.tsx
  app/frontend/src/components/StatusStories/CreateStoryButton.tsx
  app/frontend/src/components/StatusStories/DashboardStoriesTabContent.tsx
  app/frontend/src/components/StatusStories/StoryCarousel.tsx
  app/frontend/src/components/StatusStories/StoryViewer.tsx
  app/frontend/src/models/models.ts
  app/frontend/src/pages/LandingPage.tsx
  app/frontend/src/stores/DashboardStore.ts
  app/frontend/src/stores/StoryStore.ts
  app/frontend/src/styles/SideBar.css
  app/frontend/src/styles/Stories.css
Labels: frontend, backend, database, design, environment

#242 Backend Unit Tests
  app/backend/Controllers/ChatController.cs
  app/backend/Controllers/CreateController.cs
  app/backend/Controllers/UserController.cs
  app/backend/Models/DirectMessageChannel.cs
  app/backend/tests/APIControllerTests.cs
  app/backend/tests/AddControllerTests.cs
  app/backend/tests/ChatControllerTests.cs
  app/backend/tests/CreateControllerTests.cs
  app/backend/tests/HomeControllerTest.cs
  app/backend/tests/UserControllerTests.cs
Labels: backend

#243 BUG-11 Chat Auto Scrolling
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
Labels: bug, frontend

#240 Chatbar lag fix #239
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatBar.tsx
  app/frontend/src/components/Chat/ChatMessage.tsx
  app/frontend/src/components/Chat/ChatTeamsChannelHeader.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
  app/frontend/tests/ChannelChatComponent.test.tsx
  app/frontend/tests/DMChatComponent.test.tsx
Labels: bug, frontend

#253 Sonarcloud - Laith
  app/frontend/src/components/ActivityBadge.tsx
  app/frontend/src/components/Buttons/CreateChannelButton.tsx
  app/frontend/src/components/Buttons/DeleteChannelMessagesButton.tsx
  app/frontend/src/components/Buttons/InviteToChannelButton.tsx
  app/frontend/src/components/Buttons/InviteToTeamButton.tsx
  app/frontend/src/components/ChannelUserListHover.tsx
  app/frontend/src/components/Chat/AudioPlayer.tsx
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatArea.tsx
  app/frontend/src/components/Chat/ChatAreaDMHeader.tsx
  app/frontend/src/components/Chat/ChatMessage.tsx
  app/frontend/src/components/Chat/ChatTeamsChannelHeader.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
  app/frontend/src/components/Chat/RequestCreationPrompt.tsx
Labels: bug, frontend

#255 Final bugfixes before demo #241
  app/frontend/src/components/Buttons/CreateTeamButton.tsx
  app/frontend/src/components/Buttons/InviteToTeamButton.tsx
  app/frontend/src/components/Chat/ChannelChatComponent.tsx
  app/frontend/src/components/Chat/ChatArea.tsx
  app/frontend/src/components/Chat/ChatTeamsChannelHeader.tsx
  app/frontend/src/components/Chat/DMChatComponent.tsx
  app/frontend/src/components/Dashboard/Dashboard.tsx
  app/frontend/src/components/Dashboard/DashboardHeader.tsx
  app/frontend/src/components/Forms/LoginForm.tsx
  app/frontend/src/components/Forms/RegisterForm.tsx
  app/frontend/src/components/MobileToolbar.tsx
  app/frontend/src/components/Requests/RequestsList.tsx
  app/frontend/src/components/Requests/RequestsListItem.tsx
  app/frontend/src/components/Sidebar/ChannelListItem.tsx
  app/frontend/src/components/Sidebar/ChatListItem.tsx
  app/frontend/src/components/Sidebar/TeamSidebarContent.tsx
  app/frontend/src/components/TeamUserListHover.tsx
  app/frontend/src/components/UserList.tsx
  app/frontend/src/components/UserListItem.tsx
  app/frontend/src/components/UserSearch/UserSearch.tsx
  app/frontend/src/services/ChannelChatService.ts
  app/frontend/src/services/DMChatService.ts
  app/frontend/src/stores/ApplicationStore.ts
Labels: bug, frontend
